.block {
    text-align: center;
    margin-top: 12%;
    background-color: rgb(216, 211, 211);
    color: rgb(24, 51, 78);
    font-size: 10px;
}

.block_cont {
    font-size: 13px;
}

.block_cont_header {
    color: darkslategray;
    font-size: 300%;
    margin: 10px;
}

.block_cont_text {
    font-size: 20px;
}