.block {
    margin: 5px;
    text-align: center;
}

.block_alert {
    text-align: center;
    margin-top: 12%;
    background-color: rgb(216, 211, 211);
    color: rgb(24, 51, 78);
    width: 100%;
    height: 100%;
}

.block_button {
    color: white;
    background-color: grey;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    height: 8%;
}

.block_button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 63, 83);
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  rgb(30, 43, 56);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav:hover {
    background-color:  rgb(25, 36, 47);
}

.sidenav_button_logout {
    color: white;
    background-color: rgb(138, 58, 58);
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    height: 8%;
}

.sidenav_button_logout:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(114, 50, 50);
}

.col {
    background-color: rgb(29, 59, 90);
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.col_header {
    color: rgb(36, 53, 53);
    font-size: 200%;
    text-align: center;
    color: #fff;
}

.col_desc {
    background-color: rgb(175, 175, 175);
    color: rgb(65, 63, 63);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.col_desc_text {
    color: rgb(36, 53, 53);
    font-size: 100%;
    text-align: center;
    color: #fff;
}

.cont {
    background-color: #e7f3ec;
    box-shadow: 5px 5px 5px rgb(182, 180, 180);
    display: inline-flex;
    margin-left: 15%;
    width: 80%;
}

.cont_table {
    margin: auto;
    text-align: center;
}