.block {
    margin: 5px;
    text-align: center;
}

.block_alert {
    text-align: center;
    margin-top: 12%;
    background-color: rgb(216, 211, 211);
    color: rgb(24, 51, 78);
    width: 100%;
    height: 100%;
}

.block_button {
    color: white;
    background-color: grey;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    height: 8%;
}

.block_button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 63, 83);
}

.error_button {
    color: white;
    background-color: darkslategray;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 20%;
    height: auto;
}

.error_button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 65, 65);
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  rgb(30, 43, 56);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav:hover {
    background-color:  rgb(25, 36, 47);
}

.sidenav_button_logout {
    color: white;
    background-color: rgb(138, 58, 58);
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    height: 8%;
}

.sidenav_button_logout:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(114, 50, 50);
}

.col {
    background-color: rgb(29, 59, 90);
    color: white;
    padding: 10px;
}

.col_header {
    color: rgb(36, 53, 53);
    font-size: 200%;
    text-align: center;
    color: #fff;
    margin: 10px;
}

.col_buttons {
    background-color: rgba(198, 199, 200, 0.329);
    color: rgb(65, 63, 63);
    padding: 5px;
    margin-left: 14%;
    display: inline-flex;
    text-align: center;
    width: 85%;
}

.col_enter {
    background-color: rgb(198, 199, 200);
    color: white;
    padding: 10px;
}

.col_enter_span {
    color: rgba(0, 0, 0, 0.513);
    margin-left: 18%;
}

.col_enter_buttons {
    color: rgb(65, 63, 63);
    padding: 5px;
    display: inline;
    text-align: center;
}

.col_desc {
    background-color: rgba(175, 175, 175, 0.575);
    color: rgb(65, 63, 63);
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.col_desc_text {
    font-size: 100%;
    text-align: center;
    color: rgba(32, 30, 30, 0.507);
}

.cont {
    background-color: #e7f3ec;
    box-shadow: 5px 5px 5px rgb(182, 180, 180);
    display: inline-flex;
    margin-left: 15%;
    width: 80%;
}

.cont_table {
    margin: auto;
    position: left;
    margin: 10px;
}

.cont_column {
    color: rgb(255, 255, 255);
    background-color: rgb(47, 48, 61);
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    width: 200%;
    height: auto;
}

.cont_table_text {
    display: inline-flex;
}

.cont_table_update {
    color: rgb(255, 255, 255);
    background-color: rgb(149, 62, 62);
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 100%;
    height: 8%;
}

.cont_table_value {
    border: none;
    text-align: center;
    margin-left: 0;
    width: 100%;
    background-color: grey;
    color: black;
}

.cont_table_button {
    margin-bottom: 6px;
    border: none;
    text-align: center;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(136, 54, 54);
    color: black;
}

.cont_input {
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 10px;
    background-color: white;
}

.cont_table_button:hover {
    background-color: rgb(93, 22, 22);
}

.cont_label_red {
    color: red;
    font-size: 12px;
}

.col_desc_button {
    color: white;
    background-color: rgb(153, 60, 60);
    padding: 7px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    color: white;
    text-align: center;
    width: auto;
    height: 8%;
    text-align: center;
}

.col_desc_button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(114, 39, 39);
}

.col_desc_button:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 84, 84);
}

.col_desc_button_csv {
    color: white;
    background-color: rgb(153, 60, 60);
    padding: 7px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    color: white;
    text-align: center;
    width: auto;
    height: 90%;
    text-align: center;
}

.col_desc_button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(114, 39, 39);
}

.col_desc_button:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 84, 84);
}

.col_desc_button_column {
    color: white;
    background-color: rgba(39, 43, 83, 0.767);
    padding: 7px;
    margin-bottom: 5px;
    margin-left: 15px;
    border: none;
    color: white;
    text-align: center;
    width: auto;
    height: 8%;
    text-align: center;
}

.col_desc_button_column:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(22, 25, 49, 0.767);
}

.col_desc_text_red {
    color: red;

}

.left_block {
    bottom: 0;
    width: 30%;
    margin-left: 15%;
    margin-top: 1%;
    height: 80%;
    color: darkslategray;
    background-color: rgb(216, 211, 211);
    padding: 5%;
    right: 0;
    position: absolute;
    border: white solid 0.1px;
    display: flex;
    flex-direction: column;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 15%;
    width: 80%;
    color: darkslategray;
    background-color: rgb(216, 211, 211);
}

.footer_button {
    color: white;
    background-color: rgb(167, 71, 71);
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    width: auto;
    margin-left: 5px;
}

.footer_button:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(107, 42, 42);
}

.footer_button:disabled {
    background-color: rgb(68, 71, 85);
    color: white;
}

.footer_button_close {
    color: white;
    background-color: rgb(45, 45, 82);
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    width: auto;
    margin-left: 5px;
}

.footer_button_close:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(28, 28, 54);
}

.cont_table_column_delete {
    border: none;
    display: inline;
    color: white;
    background-color: rgb(47, 48, 61);
    margin: 0 10px;
    padding: 7px 7px;
}

.cont_table_column_delete:hover {
    color: rgb(47, 48, 61);
    background-color: rgba(255, 255, 255, 0.582);
}

.footer_select {
    border: none;
    padding: 10px;
    width: 20%;
    height: auto;
    text-align: left;
    font-size: 15px;
    background-color: white;
}