.block {
    color: #218A6F;
    font-size: 17px;
    text-align: center;
}

.block_alert {
    text-align: center;
    margin-top: 12%;
    background-color: #FDE8D4;
    color: #218A6F;
    width: 100%;
    height: 100%;
}

.block_button {
    color: #FDE8D4;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 90%;
    height: 8%;
    background-color: #218A6F;
}

.block_button:hover {
    color: #FDE8D4;
    background-color: #1C715B;
}

.block_button:disabled {
    color: #FDE8D4;
    background-color: #678370;
}

.cont_delete {
    text-align: center;
    font-size: 44px;
}

.error_button {
    color: #FDE8D4;
    background-color: #218A6F;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 20%;
    height: auto;
}

.error_button:hover {
    color: #FDE8D4;
    background-color: #1C715B;
}

.error_button_yes {
    color: #FDE8D4;
    background-color: #EC9D89;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 20%;
    height: auto;
}

.error_button_yes:hover {
    color: #FDE8D4;
    background-color:#C28171;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C715B;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav:hover {
    background-color: rgb(25, 90, 73);
}

.sidenav_button_logout {
    color: #FDE8D4;
    background-color: #EC9D89;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 90%;
    height: 8%;
}

.sidenav_button_logout:hover {
    color: #FDE8D4;
    background-color: #C99D87;
}

.cont {
    background-color: #FDE8D4;
    box-shadow: 5px 5px 5px #D0BEAE;
    display: inline-flex;
    margin-left: 15%;
    width: auto;
    color: #1C715B;
}

.cont_head {
    background-color: #1C715B;
    color: #FDE8D4;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 45px;
}

.cont_table_name {
    margin-bottom: 5px;
    border: none;
    text-align: center;
    height: 45px;
    margin-left: 0;
    width: 100%;
    color: #FDE8D4;
    background-color: #C28171;
}

.cont_table_name:hover {
    color: #FDE8D4;
    background-color: #1C715B;
}