.block {
    margin: 5px;
    text-align: center;
    color: #C28171;
}

.block_button {
    color: #FDE8D4;
    background-color: #218A6F;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 90%;
    height: 8%;
}

.block_button:hover {
    color: #FDE8D4;
    background-color: #1C715B;
}

.block_button:disabled {
    color: #FDE8D4;
    background-color: #678370;
}

.block_alert {
    text-align: center;
    margin-top: 12%;
    background-color: #F5BFA4;
    color: #218A6F;
    width: 100%;
    height: 100%;
}

.error_button {
    color: #FDE8D4;
    background-color: #678370;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 20%;
    height: auto;
}

.error_button:hover {
    color: #FDE8D4;
    background-color: #1C715B;
}

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C715B;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav:hover {
    background-color: rgb(25, 90, 73);
}

.sidenav_button_logout {
    color: #FDE8D4;
    background-color: #EC9D89;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    text-align: center;
    width: 90%;
    height: 8%;
}

.sidenav_button_logout:hover {
    color: #FDE8D4;
    background-color: #C99D87;
}

.col_head {
    background-color:#1C715B;
    color: #FDE8D4;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.col_head_header {
    font-size: 200%;
    text-align: center;
    color: #FDE8D4;
}

.cont {
    background-color: #F5BFA4;
    box-shadow: 5px 5px 5px #678370;
    margin-left: 14%;
    padding-left: 5%;
}

.cont_link {
    text-decoration-line: none;
}

.cont_link_button_update {
    margin-right: 15px;
    font-size: 15px;
    color: #FDE8D4;
    background-color:#218A6F;
    padding: 10px;
    border: none;
    text-align: center;
    width: 180%;
    margin-top: 11px;
    height: 40px;
    display: block;
    margin-left: 83%;
}

.cont_link_button_update:hover {
    background-color:#1C715B;
    color: #FDE8D4;
}

.cont_link_button_update:disabled {
    background-color: #678370;
    color: #FDE8D4;
}

.cont_link_button_cancle {
    margin-right: 15px;
    font-size: 15px;
    color: #FDE8D4;
    background-color: #EC9D89;
    padding: 10px;
    border: none;
    text-align: center;
    width: 180%;
    margin-top: 11px;
    height: 40px;
    margin-left: 83%;
    margin-bottom: 10px;
}

.cont_link_button_cancle:hover {
    background-color: #C28171;
}

.cont_label_button {
    display: inline-block;
}

.cont_input {
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    width: 200px;
    height: auto;
    margin: 10px;
    color: #C99D87;
    background-color: #FDE8D4;
}

.cont_label {
    color: #C28171;
    font-size: 20px;
}