.block {
    margin: 5px;
    text-align: center;
}

.block-button {
    color: white;
    background-color: grey;
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    height: 8%;
}
  
.block-button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(61, 63, 83);
}

.block-alert {
    text-align: center;
    margin-top: 12%;
    background-color: rgb(216, 211, 211); 
    color: rgb(24, 51, 78);
    width: 100%;
    height: 100%;
}

.sidenav {
    width: 15%;
    background-color:  rgb(30, 43, 56);
}

.sidenav:hover {
    width: 15%;
    background-color:  rgb(25, 36, 47);
}

.sidenav-button-logout {
    color: white;
    background-color: rgb(138, 58, 58);
    padding: 7px;
    margin-bottom: 5px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    height: 8%;
}
  
.sidenav-button-logout:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(114, 50, 50);
}

.col-head {
    background-color: rgb(29, 59, 90);
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.col-head-header {
    color: rgb(36, 53, 53);
    font-size: 200%;
    text-align: center;
    color: #fff;
}

.cont {
    background-color: #e7f3ec;
    box-shadow: 5px 5px 5px rgb(182, 180, 180);
    display: inline-flex;
    margin-left: 15%;
    width: 80%;
}

.cont-label-red {
    color: red;
}

.cont-input {
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    display: inline-block;
    width: 70%;
    height: 30px;
    margin-right: 15px;
}

/* 
.input {
    border: none;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    display: inline-block;
    width: 20%;
    height: auto;
    margin-right: 15px;
} */

.cont-link-button {
    margin-right: 15px;
    font-size: 15px;
    color: white;
    background-color: rgb(167, 71, 71);
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    width: 90%;
    margin-top: 11px;
    height: 45px;
}

.cont-link-button:hover {
    background-color:rgb(107, 42, 42); 
}

.cont-link-button:disabled {
    background-color: rgb(68, 71, 85);
    color: white;
}

.cont-table {
    margin: auto;
    text-align: center;
}

.cont-table-name {
    margin-bottom: 5px;
    border: none;
    text-align: center;
    height: 45px;
    margin-left: 0;
    width: 100%;
    background-color: rgb(124, 7, 7);
    color: white;
}

.cont-table-name:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(70, 14, 14);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: 15%;
    width: 80%;
    color: darkslategray;
    background-color: rgb(216, 211, 211); 
}

.footer-button {
    color: white;
    background-color: rgb(167, 71, 71);
    padding: 10px;
    border: none;
    color: white;
    text-align: center;
    width: auto;
}

.footer-button:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(107, 42, 42); 
}

.footer-button:disabled {
    background-color: rgb(68, 71, 85);
    color: white;
}

.footer-select {
    border: none;
    padding: 10px;
    width: 20%;
    height: auto;
    text-align: left;
    font-size: 15px;
    background-color: white;
}