* {
    margin: 5px;
}

.App {
    text-align: center;
}

.form {
    margin-top: 200px;
    background-color: rgb(216, 211, 211); 
    color: rgb(24, 51, 78);
}

input {
    border: none;
    padding: 10px;
    height: 25px;
    width: 20%;
}

.header {
    font-size: 300%;
    margin: 10px;
}

button {
    border: none;
    padding: 10px;
    height: 45px;
    width: 21%;
    background-color: darkslategray;
    color: whitesmoke;
}