.block {
    text-align: center;
}

.block_cont {
    background-color: rgb(216, 211, 211);
    width: auto;
}

.block_cont_alert {
    text-align: center;
    margin-top: 12%;
    background-color: rgb(216, 211, 211);
    color: rgb(24, 51, 78);
    width: 100%;
    height: 100%;
}

.block_cont_button {
    border: none;
    padding: 10px;
    height: 45px;
    width: 21%;
    background-color: darkslategray;
    color: whitesmoke;
    font-size: 14px;
}

.block_cont_button:hover {
    background-color: rgb(32, 54, 54);
    color: rgb(225, 226, 228);
    font-size: 15px;
}

.block_cont_button_error {
    border: none;
    padding: 10px;
    height: 45px;
    width: 21%;
    background-color: darkslategray;
    color: whitesmoke;
    font-size: 14px;
}

.block_cont_button_error:hover {
    background-color: rgb(32, 54, 54);
    color: rgb(225, 226, 228);
}

.block_cont_button:disabled {
    border: none;
    padding: 10px;
    background-color: rgb(68, 71, 85);
    color: white;
    font-size: 15px;
}

.form {
    margin: 5px;
    margin-top: 10%;
    background-color: rgb(216, 211, 211);
    color: rgb(24, 51, 78);
}

.form_header {
    color: darkslategray;
    font-size: 250%;
    margin: 10px;
}

.form_label {
    font-size: 15px;
    width: 5px;
    color: darkslategray;
}

.form_input {
    border: none;
    padding: 10px;
    height: 30px;
    width: 20%;
    text-align: left;
    font-size: 15px;
    margin-bottom: 15px;
}

.form_text {
    font-size: 13px;
}